name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  Builds:
    runs-on: ubuntu-latest

    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - run: |
          cd src
          yarn
      - name: Compress Build Outputs
        run: |
          cd src
          mkdir build
          tar --exclude='./build' -czf build/gdutils.tar.gz .
      - uses: actions/upload-artifact@v2
        with:
          name: Build Location
          path: src/build/gdutils.tar.gz

      - run: |
          mv src/build/gdutils.tar.gz gdutils.tar.gz
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ steps.get_version.outputs.VERSION }}
          files: |
            gdutils.tar.gz
